<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ReadInterval" value="3600000"/>
		<add key="Language" value="CSharp"/>
	</appSettings>

	<connectionStrings>
		<add name="ConnCms" connectionString="Data Source=glemmen.bergersen.dk,4729;Initial Catalog=Martin_weather;User ID=webuser;Password=1234" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>